.user-home-container {
  display: flex;
  flex-wrap: nowrap; /* Ensures components stay on the same row */
  justify-content: space-between; /* Adds space between the items */
  gap: 200px; /* Optional spacing between elements */
  padding: 20px;
}

.user-home-container > .icus {
  flex: 15; /* Takes half of the available space */
  max-width: 50%;
}

.user-home-container > .map {
  flex: 1; /* Takes the other half */
  max-width: 50%;
}
